@font-face {
    font-family: OriginTech;
    src: url('/font/OriginTech.ttf');
}

@font-face {
    font-family: TypeWritter;
    src: url('/font/TypeWriter.ttf');
}

@font-face {
    font-family: KGRedHands;
    src: url('/font/KGRedHands.ttf');
}

.fade-in-welc { animation: fadeInWelc 1.25s; }
.fade-in-title { animation: fadeInTitle 1.25s; }
.fade-in-media { animation: fadeInTitle 2.5s; }

@keyframes fadeInWelc {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInTitle {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes typing {
  50% { width: 0 }
  to { width: 100% }
}

@media screen and (max-width: 1368px) 
{
    .disable_if_on_phone, iframe {
        display: none;
    }    

    h1,h2,h3,h4,h5,h6
    {
        font-family: KGRedHands;
        color: white;
        -webkit-text-stroke: 2px black;
    }
}


body{
    background-color: rgb(43, 43, 43);
    /*background-image: url('/img/background.png');*/
    background-size:cover;
}

html{
    background-color: gray;
}

h1,h2,h3,h4,h5,h6{
    font-family: KGRedHands;
    color: white;
    -webkit-text-stroke: 2px black;
}



.typed-out{
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    width: 0;
    animation: typing 2.5s forwards;
}

.youtube
{
    position: fixed;
    height: 240px;
    width: 600px;
    border: thick double red;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.close{
    float:right;
    clear:right;
}

.pre {
    display: flex;
    justify-content: center;
}

.container {
  display: inline-block;
}

.background_sbn
{
    background-image: url('/img/header.png');
}

.background_sbn p
{
    color:aliceblue;
}