@font-face {
    font-family: typewcond;
    src: url(../fonts/typewcond_regular.otf);
}

@font-face {
    font-family: neuropol;
    src: url(../fonts/neuropol.otf);
}

@font-face {
    font-family: futur;
    src: url(../fonts/FuturBlock-Regular.ttf);
}

@font-face {
    font-family: handy;
    src: url(../fonts/HandyGeorge.ttf);
}

@font-face {
    font-family: fornato;
    src: url(../fonts/FonartoXT.ttf);
}

.typewcond{
    font-family: typewcond;
}

.neuropol{
    font-family: neuropol;
}

.future{
    font-family: futur;
}

.handy{
    font-family: handy;
}

.fornato{
    font-family: fornato;
}

a{
    color:rgb(9, 255, 0);
}

a:hover{
    color:rgb(5, 139, 0);
}