---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Foot from '../components/Footer.astro';

let birth_day = new Date('2/1/2004').getFullYear();
let tech_year = new Date('2/1/2017').getFullYear();
let today     = new Date().getFullYear();

let Year = today - birth_day;
let Year_Since_Tech = today - tech_year;

let pronouns: string = "my current pronouns are UNAVAILABLE (PronounDB error) and I";
let id: string = '283205890474115072';
const data = await fetch('https://pronoundb.org/api/v2/lookup?platform=discord&ids=' + id).then((response) =>
    response.json()
);

if(data[id] !== undefined)
{
    pronouns = textFriendlyPronouns(getFormatedPronoun(data[id].sets));
}

function getFormatedPronoun(pr)
{
    if(pr.en.length == 1)
    {
        switch(pr.en["0"])
        {
            case "he":
                return "he/him";
            case "it":
                return "he/it";
            case "she":
                return "she/her";
            case "they":
                return "they/them";
            case "any":
                return "anything you want";
            case "ask":
                return "ASK";
            case "avoid":
                return "AVOID";
            case "other":
                return "OTHER";
            case "UNSPECIFIED":
                return "UNSPECIFIED";
            default:
                return "UNAVAILABLE (PronounDB error)";
        }
    }else{
        return pr.en["0"] + "/" + pr.en["1"];
    }
}

function textFriendlyPronouns(pr)
{
    if(pr == "ASK"){
        pr = "If you want to know my pronouns, ask me. Also I";
    }else if (pr == "AVOID"){
        pr = "I'd rather be called by my name and I";
    }else{
        pr = "my current pronouns are " + pr + " and I";
    }

    return pr;
}
---

<Layout title="About me (≧◡≦)" description="Wanna learn a bit more about me ? ٩(◕‿◕｡)۶">
	<main>
        <article class="paragraph">
            <h1 class="text-4xl">Hello there ! <h1 class="text-2xl">ヽ(&gt;∀ &lt;☆)ノ</h1></h1>
            <br>
            <p>
                I'm SomeBoringNerd, I'm a {Year} years old autistic trans woman, I'm a french student that studies programming.
                {pronouns} go by the name Morgane. I enjoy anime, video games (especially Team Fortress 2 and Minecraft), and learning new things in programmation.
                <br><br>
                I have picked up tech when I was about 12, back then I first learned a bit of Python, HTML and CSS. {Year_Since_Tech} years later, I write code mostly for fun,
                My daily OS is Arch Linux, with Awesome as my TM !
                <br><br>
                I mostly code in Java, JavaScript and, at a somewhat correct level, C and C++. My main project is <a href="/projects/ttd">Through The Dark</a>, a fantasy dream game.
                <br><br>
                I am currently employed by SandBlock Studios for Minecraft related work, and I'm available for freelance work, contact me through Discord or <a href="mailto:contact@someboringnerd.xyz">contact me by mail</a> so we can work together !
            </p>
        </article>
	</main>
</Layout>
