---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Foot from '../components/Footer.astro';

let birth_day = new Date('2/1/2004').getFullYear();
let tech = new Date('2/1/2017').getFullYear;
let today = new Date().getFullYear();

let Year = today - birth_day;
---

<Layout title="Credits o(≧▽≦)o" description="I owe a lot to a lot of people">
	<main>
            <article class="paragraph">
                <h1 class="text-3xl">Thanks to those people I learned useful stuff</h1><br><br>
                <p><a href="https://github.com/Cyyynthia" target="_blank">Cyyynthia</a> for showing me Astro (the framework this website is built upon).<br><br>
                   <a href="https://github.com/Pr3roxDLC" target="_blank">Pr3roxDLC</a> teached me Java tips and good practice, in a simple and understandable way.<br><br>
                   <a href="" target="_blank">Sanic_le_harisson</a>, one of my best friends, for the help on my game, as well as being my friend<br><br>
                   <a href="" id="Sorry, this is a private discord">The entire AspieGamer discord</a> for the mental support when I needed it the most.<br><br>
                </p>
            </article>
            <article class="paragraph">
                <h1 class="text-3xl">Those different tools / frameworks allowed this website to exist</h1><br><br>
                <p><a href="https://astro.build/" target="_blank">Astro</a>, a web framework that is really cool.<br><br>
                   <a href="https://tailwindcss.com/" target="_blank">TailWind</a>, a useful CSS framework.<br><br>
                </p>
            </article>
	</main>
</Layout>
