---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Foot from '../components/Footer.astro';
import Card from '../components/Card.astro'
---
<Layout title="Projects (＠＾◡＾)" description="Wanna see what I've been up to ?">
	<main>
		<article class="paragraph">
			<h1 class="text-4xl">My projects</h1><br>
			<p class="text-base">
				You can find here most of the public projects I'm working on (◕ ‿ ◕)
			</p>
		</article>
		<div class="p-8">
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 lg:gap-8">
			  <div class="p-4 rounded-md flex items-center justify-center h-full">
				<Card title="TTD" 
						body="Adventure game where you alternate between reality and dream. Coming soon maybe." 
						href="/projects/ttd" 
						image="/img/ttd/logo.png"/>
				</div>
				<div class="p-4 rounded-md flex items-center justify-center h-full">
					<Card title="Project BlackMirror" 
							body="state of the art spying sys-- I mean parking lot automation for private infrastructures" 
							href="/projects/pbm" 
							image="/img/pbm/logo.png"/>
				</div>
			</div>
		</div>
	</main>
</Layout>
