---
let citation = [
    "I love headpats", 
    "I use Arch btw", 
    "Morgane say trans right <3",
    "THE ONE AND ONLY",
    "git commit-ted to program stuff",
    "watch Owl House, it's good",
    "You are doing good lad ! (dont let anyone tell you otherwise <3)",
    "DEMOMAN TF2",
    "sudo nixos-rebuild switch --flake /etc/nixos#MAIN",
    "sudo pacman -Syu",
    "https://someboringnerd.xyz/discord",
    "shoot for the moon, you may hit the stars",
    "not sponsored by NASA",
    "made in Astro",
    "Just a dreamy star gazer",
    "\"Turns out, I can stop you !\" - SomeBoringNerd, 2024",
    "Fuck you Microsoft !",
    "Be crime do gay",
]

function getRandomInt() 
{
  return Math.floor(Math.random() * (citation.length));
}


---
    
    <footer>
        <div class="dontmove">
          <a href="https://git.someboringnerd.xyz/SomeBoringNerd/someboringnerd-web" target="_blank">~/source_code</a>
            <a href="/blog">~/blog</a>
            <a href="/credit">~/credit</a>
        </div>
        <br>
        <div class="dontmove">
            <p class="bottom">{citation[getRandomInt()]}</p>
        </div>
    </footer>
