---

---
    
    <footer>
            <div class="dontmove">
                <a href="https://git.someboringnerd.xyz/someboringnerd/someboringnerd-web" target="_blank">site code</a>
                <a href="/credit">credit</a>
            </div>
            <br>
            <div class="dontmove">
                <a href="mailto:contact@someboringnerd.xyz" class="text-sm">You can contact me by mail : contact@someboringnerd.xyz</a>
            </div>
        </footer>
