---

---

    <header>
            <div>
                <a href="/">/home/Morgane</a>
                <a href="/projects" title="list of projects and presentation">Projects</a>
                <!--a href="/blog" title="personal blog to rent and vent about anything">Blog</a-->
                <a href="/social" title="My social medias if you want to talk with me">Socials</a>
                <a href="/about" title="wanna learn more about me ? here you go">About</a>
            </div>
        </header>