---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import Card from "../../components/Card.astro";
---

<Layout title="Project BlackMirror" description="state of the art parking lot automation software suite">
    <Header/>
    <article class="paragraph">
        <br>
        <h1 class="text-4xl">THIS WEB PAGE IS UNDER CONSTRUCTION</h1>
        <br>
        <h1 class="text-4xl">Project BlackMirror</h1>
        <p>Project BlackMirror is a parking lot automation software suite made from junuary 2023 to june 2023 as a school project.</p>
      </article>
    <Footer/>
</Layout>