---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import Card from "../../components/Card.astro";
---

<Layout title="Project BlackMirror" description="state of the art parking lot automation software suite">
    <Header/>
    <article class="paragraph">
        <br>
        <h1 class="text-4xl">Project BlackMirror</h1>
        <br>
        <p>Project BlackMirror is a parking lot automation software suite made from junuary 2023 to june 2023.</p>
        <br>
        <br>
        <p>It was made as a mandatory school project and was worth a big part of my grade.</p>
        <br>
        <p>The software itself is divided in 3 big parts, mine was the server stuff. The software was made in C++. If you want more informations on the subject, check <a href="https://gitlab.com/SomeBoringNerd/project-black-mirror">the tool on gitlab</a></p>
        
      </article>
    <Footer/>
</Layout>