---
import '../../layouts/Layout.astro'
import Layout from '../../layouts/Layout.astro';
---

<Layout title='ShortCut : Advent Calendar 2023' description='First freelance big job'>
    <article class="paragraph">
        <br>
        <h1 class="text-4xl">ShortCut : Advent Calendar 2023</h1>
        <br>
        <p>
            For chrismas 2023, Credit Agricole, a french bank, decided to open a Minecraft server.
            <br><br>
            They decided to contact SandBlock Studios, a communication agency for whom I work for.
            <br><br>
            With really thight time constraint, we had to make a fully fledged server within two weeks.
            <br><br>
            While Dandan, my project manager, worked on the "Advent Calendar" part, I worked on the minigames.
            <br><br>
            Minigames were mandatory quest that were active for the entire weekend, one at the time.
            <br><br>
            The first one was a Fallen Kingdom, with a CTF element. It was going to welcome up to 32 players at once and was seen on Twitch.tv by thousands, so I had to make a perfect game.
            <br><br>
            The second minigame was a Battle Royale. Nothing special, I created a lot of custom weapons to enhance the game for players, and they had a lot of fun playing !
            <br><br>
            Lastly, the last minigame was a sort of dungeon. Armed with a sword and your friends, you had to save Santa Claus from an evil monster and his army of also evil monsters, but also do parkour, sort gifts, and so on... I had a lot of fun making the last wave being wardens and glitched mobs.
            <br><br>
            As more projects goes finished, I'll make sure to update my <a href="/projects">projects folder</a>, thanks for reading and see you next time ! :)
        </p>
    </article>
</Layout>