---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import Card from "../../components/Card.astro";
---

<Layout title="Through The Dark" description="In-dev game I'm working on">
    <article class="paragraph">
        <br>
        <h1 class="text-4xl">Through The Dark</h1>
        <p>Through The Dark is a game where you play as a student alterning between reality and her dreams</p><br>
        <br>
        <p>You play as Diana, a 21 years old student. She is studying to become a biological scientist, and one night, accidentally took one of her experimental school project instead of her usual medication, and gained access to the Dream World, a mysterious place between the livings and the deads.</p>
        <br>
        <p>Made in <s>heaven</s> Java.</p>
      </article>

    <article class="paragraph">
        <h1 class="text-2xl">Screenshots : </h1>
        <div>
            <center>
            <br>
            <img src="https://pics.self-hosted.lol/i/img/6Q1eJjF8.png" height="75%" width="75%">
            <br>
            <h3>The best place to dream in !</h3>
            <br>
            
            <p>
              The game will take place 
            </p>
            
            <br>
            <img src="https://pics.self-hosted.lol/i/img/638kQKcq.png" height="75%" width="75%">
            <br>
            <h3>Just your normal physic classroom</h3>    
            </center>
          </div>
    </article>
</Layout>
