---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Through The Dark" description="In-dev game I'm working on">
    <article class="paragraph">
        <br>
        <h1 class="text-4xl">Through The Dark</h1>
        <p>Through The Dark is a game where you play as a student alterning between reality and their dreams</p><br>
        <br>
        <p>You play as a 21 years old student. they are studying to become a biological scientist. After a small accident, they fall into the Dream World, a mysterious place between the livings and the deads.</p>
        <p>Will you fight for your life, or embrasse that new after life of yours ?</p>
        <br>
        <p>Made in <s>heaven</s> Java.</p>
        <br>
        <center>
        <iframe frameborder="0" src="https://itch.io/embed/2284777?dark=true" width="552" height="167"><a href="https://someboringnerd.itch.io/through-the-dark">Through The Dark by SomeBoringNerd</a></iframe>
        <p>Download the game for free here ^</p>
        <br>
        <p><a href="/blog/ttd_update_february_2024">Or check the latest blog post about it here</a></p>
        </center>
      </article>

    <article class="paragraph">
        <h1 class="text-2xl">Screenshots : </h1>
        <div>
            <center>
            <br>
            <br>
            <img src="https://pics.self-hosted.lol/i/img/638kQKcq.png" height="75%" width="75%">
            <br>
            <h3>Just your normal physic classroom</h3>    
            </center>
          </div>
    </article>
</Layout>
