<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Oopsies :(</title>
        
        
        <link rel="icon" type="image/png" href="/img/Favicon.png" />
        <link href="/css/index.css" rel="stylesheet">

        <meta name="description" content="Welcome to my website">
		<link rel="canonical" href="https://someboringnerd.xyz/">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@OneBoringNerd">
		<meta name="twitter:title" content="someboringnerd.xyz">
		<meta name="twitter:description" content="Welcome to my website">
		<meta name="twitter:image" content="https://someboringnerd.xyz/img/Favicon.png">
    </head>
    
    <%- include("header.ejs") %>

    <body style="text-align:center">
        <img src="https://http.cat/404">
    </body>

    <%- include("footer.ejs") %>
</html>