<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
<script>
    $(document).foundation();
</script>

<footer style="text-align:center; padding-top: 2%;">
    <p><a href="https://git.someboringnerd.xyz/someboringnerd/someboringnerd.xyz" target="_blank">source code</a>
        <a href="/oss">Open Source</a>
        <a href="/credit">credit</a>
        <a href="/rss" title="RSS flux for the blog">rss</a><br>
    <p><a href="mailto:contact@someboringnerd.xyz">You can contact me by mail : contact@someboringnerd.xyz</a></p>
</footer>