<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome (＠＾◡＾)</title>
    
    <link rel="icon" type="image/png" href="/img/Favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">

    <link href="/css/index.css" rel="stylesheet">

    <meta name="description" content="Welcome to my website">
    <link rel="canonical" href="https://someboringnerd.xyz/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@OneBoringNerd">
    <meta name="twitter:title" content="someboringnerd.xyz">
    <meta name="twitter:description" content="Welcome to my website">
    <meta name="twitter:image" content="https://someboringnerd.xyz/img/Favicon.png">
</head>
<%- include("header.ejs") %>