<header style="text-align: center;padding-top: 1%;">
    <p>
        <a href="/">Main page</a>
        <a href="/blog" title="Want to know what I'm up to ? Check this out then !">Blog</a>
        <a href="/projects" title="list of projects and presentation">Projects</a>
        <a href="/social" title="My social medias if you want to talk with me">Socials</a>
    </p>
</header>