<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SomeBoringNerd's Website</title>
        
        
        <link rel="icon" type="image/png" href="/img/Favicon.png" />
        <link href="/css/index.css" rel="stylesheet">

        <meta name="description" content="Welcome to my website">
		<link rel="canonical" href="https://someboringnerd.xyz/">

		<meta property="og:site_name" content="someboringnerd.xyz">
		<meta property="og:type" property="og:type" content="website">
		<meta property="og:url" content="https://someboringnerd.xyz/">
		<meta property="og:title" content="someboringnerd.xyz">
		<meta property="og:description" content="Welcome to my website">
		<meta property="og:image" content="https://someboringnerd.xyz/img/Favicon.png">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@OneBoringNerd">
		<meta name="twitter:title" content="someboringnerd.xyz">
		<meta name="twitter:description" content="Welcome to my website">
		<meta name="twitter:image" content="https://someboringnerd.xyz/img/Favicon.png">
    </head>
    
    <%- include("header.ejs") %>

    <body style="text-align:center">
        <h1>Welcome to my website</h1>
        <article class="paragraph" style="padding-bottom: 1px;">
            <p>
                Hi, I'm SomeBoringNerd, a <%= year %> years old french dev that do a lot of things.
                My main activity online is making video games and mods but I do a lot of other things.<br>
                <br>
                For more infos on the subject, you can check <a href="/projects">this page</a>
            </p>
        </article>
        <h2>My biggest projects</h2>
        <article class="paragraph">
            <p>
                While I work on a lot of projects, here is my most important one : <br>
                <a href="/wh">WaifuHax</a> : 1.19.4 Minecraft utility mod for anarchy servers<br><br>
                <a href="/sa">SpaceAnarchy</a> : a minecraft anarchy server<br><br>
                <a href="/ttd">Through The Dark</a> : a video game that currently is in work<br><br>
            </p>
        </article>
    </body>

    <%- include("footer.ejs") %>
</html>