<html>
    <%- include("head_stuff.ejs") %>
    <body>
    <article class="grid-container" style="text-align: center; padding-top:3%;padding-bottom: 3%;">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-4">
            <img class="thumbnail" src="/img/logo/youtube.png">
            <h3><a href="https://www.youtube.com/@someboringnerd" target="_blank">GameDev channel</a></h3>
          </div>
          <div class="cell medium-4">
            <img class="thumbnail" src="/img/logo/youtube.png">
            <h3><a href="https://www.youtube.com/@morganeplayvideogames" target="_blank">Gaming channel</a></h3>
          </div>
          <div class="cell medium-4">
            <img class="thumbnail" src="/img/logo/youtube.png">
            <h3><a href="https://www.youtube.com/@SomeBoringDev" target="_blank">Not-game related dev</a></h3>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell medium-4">
            <img class="thumbnail" src="/img/logo/discord.png">
            <h3><a href="https://discord.gg/gtfJY7uKCN" target="_blank">Discord</a></h3>
          </div>
          <div class="cell medium-4">
            <img class="thumbnail" src="/img/logo/github.png">
            <h3><a href="https://github.com/SomeBoringNerd" target="_blank">Github</a></h3>
          </div>
          <div class="cell medium-4">
            <img class="thumbnail" src="/img/logo/gitea.png">
            <h3><a href="https://git.someboringnerd.xyz" target="_blank">Self-hosted gitea</a></h3>
          </div>
        </div>
      </article>
    <%- include("footer.ejs") %>
</body>
</html>