<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/img/Favicon.png" />
        <title>Through The Dark</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="https://someboringnerd.xyz/ttd"/>
        <meta property="og:description" content="Through The Dark">
        <meta name="theme-color" content="#E74C3C">
        
        <link href="../css/index.css" rel="stylesheet">
    </head>

    <%- include("header.ejs") %>

    <body style="text-align:center">
      <article class="paragraph">
        <br>
        <h1>Through The Dark</h1>
        <p>Through The Dark is a video game I'm making.</p>
        <p>You play as Diana, a 21 years old girl that alternate between a simple school life and a fantastic adventure in her dreams.</p>
      </article>

      <article class="grid-container">
        <h1>Features : </h1>
        <div class="cell">
            <img class="thumbnail" src="/img/ttd/beta_room.png" height="75%", width="75%">
            <h3>A simple room to live and dream in.</h3>
          </div>
        <br><br>
      </article>
    </div>
    <%- include("footer.ejs") %>
  </body>
</html>