<!DOCTYPE html>
<html>
  <%- include("head_stuff.ejs") %>

    <body style="text-align:center">
      
      <article class="paragraph">
        <br>
        <h1>WaifuHax</h1>
        <p>WaifuHax is a 1.19.4 minecraft QOL mod for anarchy servers full of weeb jokes.</p>
        <p>It was first a private bot client for 0b0t and has now evolved into a more complex mod</p>
      </article>

      <article>
        <h1>ClickGUI : </h1>
        <div>
            <img class="thumbnail" src="/img/WaifuHax/ClickGUI.png" height="75%" width="75%">
            <h3>One of the best looking ClickGUI around, comparable to old clients like Nodus</h3>
          </div>
        <br><br>
        <h2>Notable features :</h2>
        <article class="grid-container">    
          <div class="grid-x grid-margin-x"> 
            <div class="cell medium-4">
              <center>
                <img class="thumbnail" src="https://via.placeholder.com/550" height="75%" width="75%">
                <h2>Auto Frame Dupe</h2>
              </center>
            </div>
            <div class="cell medium-4">
              <center>
                <img class="thumbnail" src="https://via.placeholder.com/550" height="75%" width="75%">
                <h2>Weeb jokes</h2>
              </center>
            </div>
            <div class="cell medium-4">
              <center>
                <img class="thumbnail" src="https://via.placeholder.com/550" height="75%" width="75%">
                <h2>WaifuESP</h2>
              </center>
            </div>
          </div>
        </article>
      </article>
      <%- include("footer.ejs") %>
  </body>
</html>