<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/img/Favicon.png" />
        <title>SomeBoringNerd's Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="https://someboringnerd.xyz/waifuhax"/>
        <meta property="og:description" content="WaifuHax : 1.19.4 client">
        <meta name="theme-color" content="#E74C3C">
        <link href="/css/index.css" rel="stylesheet">
    </head>

    <%- include("header.ejs") %>

    <body style="text-align:center">
      
      <article class="paragraph">
        <br>
        <h1>WaifuHax</h1>
        <p>WaifuHax is a 1.19.4 minecraft QOL mod for anarchy servers full of weeb jokes.</p>
        <p>It was first a private bot client for 0b0t and has now evolved into a more complex mod</p>
      </article>

      <article>
        <h1>ClickGUI : </h1>
        <div>
            <img class="thumbnail" src="/img/WaifuHax/ClickGUI.png" height="75%" width="75%">
            <h3>One of the best looking ClickGUI around, comparable to old clients like Nodus</h3>
          </div>
        <br><br>
        
          
        <table>
          <thead><h2>Notable features :</h2></thead>
          <tr>
            <td>
              <img class="thumbnail" src="https://via.placeholder.com/550" height="75%" width="75%">
              <h3>Frame Dupe</h3>
            </td>
            <td>
              <img class="thumbnail" src="https://via.placeholder.com/550" height="75%" width="75%">
              <h3>Weeb modules</h3>
            </td>
            <td>
              <img class="thumbnail" src="https://via.placeholder.com/550" height="75%" width="75%">
              <h3>WaifuESP</h3>
            </td>
          </tr>
        </table>
      </article>
      <%- include("footer.ejs") %>
  </body>
</html>