---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="keywords" content="SomeBoringNerd, Morgane, Nerd, blog, Minecraft, Minecraft Cheats, WaifuHax, Through The Dark, Space Anarchy">
		<meta name="author" content="SomeBoringNerd">
		
		<link rel="icon" type="image/svg+xml" href="/img/Favicon.png"/>
		
		<link rel="stylesheet" href="/css/index.css">
		<meta name="generator" content={Astro.generator} />

        <meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
        <meta property="og:site_name" content="(ᵔᴥᵔ)"/>
        <meta property="og:description" content={description}>
        <meta name="theme-color" content="#E74C3C">

		<meta name="twitter:image" content="https://someboringnerd.xyz/img/Favicon.png">
		
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>